



<div class="container text-center ">
  <h1>REP Details</h1>


<!-- else if *ngIf="homeEmps.length > 0 ; else test"-->
  <table 
 class="table">
   <thead class="text-primary">
     <th>Id</th>
    <th>first_name</th>
    <th>last_name</th>
    <!-- <th>description</th>
    <th> stargazers_count</th>
    <th> forks_counts</th>
    <th> size</th>
    <th> Language</th> -->





   </thead>

   

   <tbody>
    <!-- *ngFor="let emp of homeEmps ; let i =index" -->
    <tr >
      
       <td>{{homestud.id}}</td>
       <td>{{homestud.first_name}}</td>
       <td>{{homestud.last_name}}</td>


     



    </tr>

    

   </tbody>







  </table>


  <!-- <ng-template #test>
    <h1>there is no data to show</h1>
  </ng-template> -->



  

</div>
